.ironic {
  color: orange;
}
.songerrors {
  background: #26b3eb
}

.cssclass {
  font-size: 50%;
}

#irrationalsongs {
  color: green;
}
#longsongs {
  color: red;
}
.movieerrors {
  background-color: yellow;
}
